extends layout

block content
  div.nav
    div.container
      ul
        li img(src='http://goo.gl/0Kd7UO')
        li Sell
        li Needbook 
    div.searchBar
    div.newAdded
      img(src='http://goo.gl/0Kd7UO')
    div.main.row
      div.hotSearch1.col-md-3
        div.thumbnail 
          img(src='http://goo.gl/0Kd7UO')
        div.thumbnail   
          img(src='http://goo.gl/0Kd7UO')
      div.hotSearch2.col-md-3
        div.thumbnail
        div.thumbnail
       div.needed.col-md-3
       div.category.col-md-3
       	
  h1 Helloworld
  p Welcome to Shengyangjun Shabi_@TEST_Tan4#{BIGLEGSU}
