extends layout

block content
  div.header
    div.container
      a(class="logo-icon", href="#")
        img(src="../public/tartan.png")
      ul.menu.pull-right
        li Sell
        li Needbook 
  div.searchBar
    textarea(name="search", placeholder="Search Books", rows="1", cols="100" ng-model="searchVal")
    a(href="#", class="btn btn-primary", ng-click="searchBook()") Search

  div.slider
    div.slide.active-slide
      div.container
        div.row
          div.slide-background.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/defeq.png')
              p Deferential Equation  
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/theysayisay.png')
              p They Say I Say   
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/computing.png') 
              P Numerical Computing   
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/workout.png') 
              p Workbook                   
  div.slider-nav
    a(class='arrow-prev', href='#') 
      img(src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png")
    ul.slider-dots
      li.doc.active-dot &bull;
      li.dot &bull;
      li.dot &bull;
      li.dot &bull;
    a(class='arrow-next', href='#')
      img(src= "http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png")  
  div.main.row
    div.hotSearch.col-md-6
      div.hotPicture
        img(src ="/public/hotspot.png")
      div.hotSearch1.col-md-6
        div.thumbnail
          img(src='{{books[0].photo}}')
          button.btn.btn-lg(type="button" data-toggle="popover" data-container="body" data-placement="right" data-content="{{books[0].description}}") info
        div.thumbnail
          img(src='{{books[1].photo}}')
      div.hotSearch2.col-md-6
        div.thumbnail
          img(src='{{books[2].photo}}')
        div.thumbnail
          img(src='{{books[3].photo}}')
    div.needed.col-md-3
      div.need
        img(src="/public/need.png")
        div.needword
          p Principles of Economics 73-100
          p Adavanced Calculus 21-268
          p Landscape of Pittsburg 76-101
    div.category.col-md-3
      div.category
        img(src='/public/category.png')
        ul 
          li 
            a(href="#") Math
          li 
            a(href="#") CS
          li 
            a(href="#") Physics
          li 
            a(href="#") Economics
          li 
            a(href="#") Chemistry
          li 
            a(href="#") Biology
          li 
            a(href="#") History    

         
  h1 Hello
  p Welcome to Shengyangjun Shabi_@TEST_Tan4#{BIGLEGSU}
  div
    form(ng-submit="addBook()")
      div.form-group
        input.form-controll(type="text" placeholder="title" ng-model="bookName")
      div.form-group
        input.form-controll(type="file" placeholder="picture" ng-model="bookImage")
      div.form-group
        input.form-controll(type="text" placeholder="provider" ng-model="bookProvider")
      div.form-group
        input.form-controll(type="text" placeholder="cell number" ng-model="providerCell")
      div.form-group
        input.form-controll(type="text" placeholder="email" ng-model="providerEmail")
      div.form-group
        input(type="text" placeholder="subject" ng-model="bookSubject")
      div.form-group
        input(type="text" placeholder="price" ng-model="bookPrice")
      div.form-group
        textarea(placeholder="description" ng-model="bookDescription")
      button(type="submit" value="submit")
    form(ng-submit="searchBook()")
      input(type="text" placeholder="search" ng-model="search")
      input(type="submit" value="search")

    script $(function () {$('[data-toggle="popover"]').popover()});