extends layout

block content
  div.header
    div.container
      a(class="logo-icon", href="#")
        img(src="../public/tartan.png")
      ul.menu.pull-right
        li Sell
        li Needbook 
  div.searchBar

  div.slider
    div.slide.active-slide
      div.container
        div.row
          div.slide-background.col-xs-5
           // img(src="../public/newlyadded-2.png")
          div.slide-image.col-xs-7
            img(src='http://goo.gl/0Kd7UO')
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-image.col-xs-7
            img(src='http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png')  
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-image.col-xs-7
            img(src='/public/theysayisay.png')    
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-image.col-xs-7
            img(src='http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png')                     
  div.slider-nav
    a(class='arrow-prev', href='#') 
      img(src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png")
    ul.slider-dots
      li.doc.active-dot &bull;
      li.dot &bull;
      li.dot &bull;
      li.dot &bull;
    a(class='arrow-next', href='#')
      img(src= "http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png")  
  div.main.row
    div.hotSearch.col-md-6
      img(src ="/public/books.png") 
      div.hotSearch1.col-md-3
        div.thumbnail 
          img(src='http://goo.gl/0Kd7UO')
        div.thumbnail   
          img(src='http://goo.gl/0Kd7UO')
      div.hotSearch2.col-md-3
        div.thumbnail
          img(src='http://goo.gl/0Kd7UO')
        div.thumbnail
          img(src='http://goo.gl/0Kd7UO')
    div.needed.col-md-3
        img(src='http://goo.gl/0Kd7UO') 
    div.category.col-md-3
        img(src='http://goo.gl/0Kd7UO') 
  h1 Hello
  p Welcome to Shengyangjun Shabi_@TEST_Tan4#{BIGLEGSU}
  p {{test}}
  inpu()
  div
    form(ng-submit="addBook()")
      input(type="text" placeholder="title" ng-model="bookName")
      input(type="text" placeholder="provider" ng-model="bookProvider")
      input(type="text" placeholder="cell number" ng-model="providerCell")
      input(type="text" placeholder="email" ng-model="providerEmail")
      input(type="text" placeholder="subject" ng-model="bookSubject")
      input(type="text" placeholder="price" ng-model="bookPrice")
      textarea(placeholder="description" ng-model="bookDescription")
      input(type="submit" value="submit")
