extends layout

block content
  #nav
    #container
      ul.pull-left
      	li 
      	  img src = "http://goo.gl/0Kd7UO"
        li Sell
        li Need a book
    #searchBar
    #newAdded
      img src = "http://goo.gl/0Kd7UO"
    #main.row
      #hotSearch1.col-md-3
        #thumbnail 
          img src = "http://goo.gl/0Kd7UO"
        #thumbnail   
          img src = "http://goo.gl/0Kd7UO"
      #hotSearch2.col-md-3
        #thumbnail
        #thumbnail
       #needed.col-md-3
       #category.col-md-3
       	
  h1 Helloworld
  p Welcome to Shengyangjun Shabi_@TEST_Tan4#{BIGLEGSU}
