extends layout

block content
  div.header
    div.container
      a(class="logo-icon", href="#")
        img(src="../public/tartan.png")
      ul.menu.pull-right
        li Sell
        li Needbook 
  div.searchBar

  div.slider
    div.slide.active-slide
      div.container
        div.row
          div.slide-background.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/defeq.png')
              p Deferential Equation  
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/theysayisay.png')
              p They Say I Say   
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/computing.png') 
              P Numerical Computing   
    div.slide
      div.container
        div.row
          div.slide-word.col-xs-5
          div.slide-imag.col-xs-7
            div.slide-image
              img(src='/public/workout.png') 
              p Workout                    
  div.slider-nav
    a(class='arrow-prev', href='#') 
      img(src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png")
    ul.slider-dots
      li.doc.active-dot &bull;
      li.dot &bull;
      li.dot &bull;
      li.dot &bull;
    a(class='arrow-next', href='#')
      img(src= "http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png")  
  div.main.row
    div.hotSearch.col-md-6
      div.hotPicture
        img(src ="/public/hotspot.png") 
      div.hotSearch1.col-md-6
        div.thumbnail 
          img(src='http://goo.gl/0Kd7UO')
        div.thumbnail   
          img(src='http://goo.gl/0Kd7UO')
      div.hotSearch2.col-md-6
        div.thumbnail
          img(src='http://goo.gl/0Kd7UO')
        div.thumbnail
          img(src='http://goo.gl/0Kd7UO')
    div.needed.col-md-3
      div.need
        img(src="/public/need.png")
        div.needword
        p ASDASD
        p Asdalsdaksd
        p asldklas
    div.category.col-md-3
      div.category
        img(src='/public/category.png') 
        a(href="#" ) Math
        a(href="#" ) CS
        a(href="#" ) Physics
         
  h1 Hello
  p Welcome to Shengyangjun Shabi_@TEST_Tan4#{BIGLEGSU}
  div(ng-repeat="book in books")
    ul
      li {{book.itemName}}
      li {{book.ownerName}}
  div
    form(ng-submit="addBook()")
      input(type="text" placeholder="title" ng-model="bookName")
      input(type="file" placeholder="picture" ng-model="bookImage")
      input(type="text" placeholder="provider" ng-model="bookProvider")
      input(type="text" placeholder="cell number" ng-model="providerCell")
      input(type="text" placeholder="email" ng-model="providerEmail")
      input(type="text" placeholder="subject" ng-model="bookSubject")
      input(type="text" placeholder="price" ng-model="bookPrice")
      textarea(placeholder="description" ng-model="bookDescription")
      input(type="submit" value="submit")
