doctype html
html(lang='en', ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')

    script(type='text/javascript', src='node_modules/jquery/dist/jquery.js')
    script(type='text/javascript', src='node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='node_modules/angular/angular.min.js').
  body
    block content
