body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 960;
}

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.header .menu {
  float: right;
  list-style: none;
  margin-top: 110px;
}

.menu > li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.menu a {
  color: #898989;
}

.slider {
  position: relative;
  width: 100%;
  height: 360px;
  border-bottom: 1px solid #ddd;

}

.slide {
  background-image: url("/public/newlyadded-2.png");
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-background {
  text-align: center;
}
.slide-image {
  text-align: right;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
.hotSearch {
  text-align: center;	
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.hotSearch .img{
  padding: 10px;
}